.row {
  display: flex;
  padding-bottom: 100%;
}

.column {
  flex: 20%;
  padding: 5px;
}

.column:hover {
  transform: scale(1.05);
  z-index: 2;
}

.section_title {
  color: white;
  text-align: center;
}

.overall_title {
  color: white;
  padding-bottom: 10%;
  padding-top: 10px;
  text-align: center;
}
