.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.column {
  flex-grow: 10;
  padding: 6px;
  text-align: center;
}

.column:hover {
  transform: scale(1.05);
  z-index: 2;
  cursor: pointer;
}

.section_title {
  color: white;
}

.overall_title {
  color: white;
  padding-bottom: 3%;
  padding-top: 10px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
