.row {
  display: flex;
}

.column {
  background-color: black;

  color: white;
  flex: 10%;
  padding: 2%;
  text-align: center;

}

.column:hover{
  transform: scale(1.1);
  border-color: white;
  border-style: solid;
  border-width: thin;
}
